body {
    background: linear-gradient(135deg, #141e30, #243b55);
    color: white;
    font-family: "Poppins", sans-serif;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    font-size: 2.5rem;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.main {
    background: rgba(255, 255, 255, 0.1);
    padding: 30px 50px;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
}

.display {
    font-size: 3rem;
    margin-bottom: 20px;
    letter-spacing: 3px;
}

.buttons button{
    background: #00bcd4;
    border: none;
    color: white;
    font-size: 1.5rem;
    margin: 0 10px;
    padding: 12px 18px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.buttons button:hover {
    background: #0288d1;
    transform: scale(1.1);
}


